@using DAL.Entities
@model List<Dish>

<div class="container-fluid mt-1 p-0">
    <div class="row justify-content-center m-0 p-0">
        <div class="col-12 col-lg-12">
            <table  class="table bg-black w-75">
                <thead >
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Dish Price</th>
                        <th> Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td  align="center" class="img-thumbnail border-0 w-25"><img src="@item.FilePath" /></td>
                                <td style="width: 12rem;">@item.Name</td>
                                @if (item.DishIngredient != null)
                                {
                                    <td style="width: 15rem;">
                                        @foreach (var ing in item.DishIngredient)
                                        {
                                            <span class="badge bg-black small text-secondary m-1">
                                                @ing.Ingredients.Name <span class="badge bg-black small text-secondary">
                                                    <a class="text-white" asp-action="DeleteIngredient"
                                       asp-controller="Admin"
                                       asp-route-dishID="@item.Id"
                                       asp-route-ingID="@ing.IngredientsId">
                                                        X
                                                    </a>
                                                </span>
                                            </span>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>No Ingredients yet</td>
                                }

                                <td style="width: 8rem;" align="center">$ @item.Price.ToString("0.00") </td>
                                <td align="center" style="width: 8rem;">
                                    <a class="text-success" asp-controller="Admin" asp-action="AddIngredient" asp-route-id="@item.Id">Add Ingredients</a><br />
                                    <a class="text-info bg-black" asp-controller="Admin" asp-action="EditDish" asp-route-id="@item.Id">Edit Dish</a><br />
                                    <a class="text-danger bg-black" asp-controller="Admin" asp-action="DeleteDish" asp-route-id="@item.Id">Delete Dish</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Nada</td>
                            <td>Nada</td>
                            <td>Nada</td>
                            <td>Nada</td>
                            <td>Nada</td>
                            <td>Nada</td>
                            <td>Nada</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


